name: Generate Contribution Terrain

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Generate Contribution Terrain
        uses: eshahhh/contribution-terrain@v1.0.0
        with:
          username: ${{ github.repository_owner }}
          style: terrain
          TOKEN_GITHUB: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish output to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
